@CHARSET "UTF-8";

.event-what{
	height:50%;
	background-color:white;
	font-color:black;
	font-size:20px;
}

#event-what-heading{
	font-weight:100;
}

.event-where{
	height:50%;
	background-color:#dff0d8;
	font-color:black;
	font-size:20px;
}

#event-where-heading{
	font-weight:100;
}

.event-when{
	height:50%;
	background-color:white;
	font-color:black;
	font-size:20px;
}

#event-when-heading{
	font-weight:100;
}

.event-additional-info{
	height:50%;
	background-color:#dff0d8;
	font-color:black;
	font-size:20px;
}

#event-additional-info-heading{
	font-weight:100;
}
	
	